<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7cJR7o6xE2BTLoFRNcRVNC_VhuOdMzdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1027904002541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sem.WordsFactory</string>
	<key>PROJECT_ID</key>
	<string>words-factory</string>
	<key>STORAGE_BUCKET</key>
	<string>words-factory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027904002541:ios:27cc526e7d85cac5006fe4</string>
</dict>
</plist>